body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  font-family: monospace;
}

.hidden {
  display: none !important;
}

#menu {
  display: inline-block;
  position: absolute;
  height: 90vh;
  width: 46.5vh;
  margin: inherit;
}

#menu-options {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 25%;
}

.m-option {
  font-family: monospace;
  padding: 5px;
}

.m-option:focus {
  color: red;
  outline: none;
}

#start-level,
.arrow {
  display: inline;
}

#wrapper {
  display: inline-block;
}

#tetris {
  border: solid .2em #fff;
  height: 90vh;
}

#canvas-wrapper,
#hold-wrapper {
  display: inline-block;
}

#hold,
#next {
  border: solid .2em #fff;
}

#score-wrapper {
  display: inline-block;
  position: fixed;
  margin: 2px;
  text-align: left;
}

#score-title,
#score,
#lines-cleared,
#lines,
#level-label,
#level {
  display: inline;
}

#score,
#lines,
#level {
  color: yellow;
}

#press-to-play {
  top: 25%;
  font-size: 0.75em;
  position: absolute;
  width: 46.5vh;
}

.control {
  text-align: left;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/*
 * Footer
*/
.footer {
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}